@mixin linear-gradient($color1, $color2, $color3, $color4, $color5, $color6, $color7, $pos1, $pos2, $pos3, $pos4, $pos5, $pos6) {
    background: $color1;
	background:linear-gradient(to bottom, $color1, $pos1, $color2, $pos2, $color3, $pos3, $color4, $pos4, $color5, $pos5, $color6, $pos6, $color7, $pos6, $color1, $pos6);
    background: -moz-linear-gradient(top, $color1, $pos1, $color2, $pos2, $color3, $pos3, $color4, $pos4, $color5, $pos5, $color6, $pos6, $color7, $pos6, $color1, $pos6);/*FF3.6+*/
    background: -webkit-linear-gradient(top, $color1, $pos1, $color2, $pos2, $color3, $pos3, $color4, $pos4, $color5, $pos5, $color6, $pos6, $color7, $pos6, $color1, $pos6); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $color1, $pos1, $color2, $pos2, $color3, $pos3, $color4, $pos4, $color5, $pos5, $color6, $pos6, $color7, $pos6, $color1, $pos6); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $color1, $pos1, $color2, $pos2, $color3, $pos3, $color4, $pos4, $color5, $pos5, $color6, $pos6, $color7, $pos6, $color1, $pos6); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad5def', endColorstr='#ad5def',GradientType=0 );
}
@mixin radius ($radius, $color){
	border: 1px solid $color;
	border-radius: $radius;
}

.clearfix{
	zoom: 1;
	&:after{
		content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
		clear: both;
	}
}
body, header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, time, label, p, fieldset, nav, ul, li, a, span, strong, em {
    margin: 0;
    padding: 0;
    border: none;
}
div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
    display: block;
}
body{
	font-family: Arial, Georgia, san-serif;
	font-size: 14px;
	color: #fff;
	@include linear-gradient(#ad5def, #c48fef, #ab4ff2, #a035f2, #9a26f2, #ab4ff2, #c48fef, 0, 12%, 25%, 37%, 49%, 100%);
	header{ 
		padding: 25px 15px 5px 15px;
	}
}
#header-container{ 
	@extend .clearfix;
}
#logo-container {
		float:left;
		position:relative;
	}
	#reg-form-container {
        float: right;
        position: relative;
        right: 5%;
		div{ 
			text-align: right;
			label {
                width: 50px;
                margin: 5px;
            }
			input {
                width: 130px;
                border: 1px solid #603382;
                border-radius: 10px;
                padding: 2px 5px;
                margin: 5px;
                background-color:#b25cf1;
            }
		}
    }
button#btn-register{ 
	@include radius (10px, #603382);
	background-color: #b25cf1;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	border-style: outset;
	padding: 5px 8px;
	color:#fff;
	&:hover {
        background-color: #8949b9;
        border-style: inset;
		cursor: pointer;
    }
}
nav {
	@extend .clearfix;
    display: inline-block;
    width: 75%;
    margin: 20px 20px 20px 20px;
    padding: 12px;
    @include radius(15px, #000);
}
.nav-list{ 
	list-style-type: none;
	li{
		float: left;
        margin: 0;
		a{
			text-decoration: none;
            padding: 0 10px 0 10px;
            color: white;
            font: 1.4em normal Arial; 
			&.selected{
				font-weight: bold; 
			}
		} 
		&:hover > a {
            text-decoration: underline;
            color: #a8a8a8;
        }
		&:hover > a + ul {
            display: block;
        }
	}
}
.sub-nav-list{
	@extend .clearfix;
	position: absolute;
    display: none;
    background-color: #b35ef3;
    border-radius: 5px; 
	li {
        float: none;
        margin: 0 15px;
        padding: 10px 0;
        border-bottom: 1px solid black;
		&:last-of-type {
            border-bottom: none;
        }
		& > a {
            font-size: 1.2em;
            color: #fff;
        }
    }
}
section{
	@extend .clearfix;
	width: 75%;
    float: left;
    color: black; 
}
article{
	margin: 20px;
    padding: 20px;
	@include radius(15px, #000);
	color:#fff;
	header {
        background: none;
        padding: 5px;
		h1 {
            font-size: 1.4em;
            padding: 0;
        }
    } 
	footer {
        padding: 5px;
		p {
            font-size: 16px;
            text-align: right;
            font-weight: normal;
			time {
                font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
            }
			a {
                text-decoration: none;
                color:lightgray;
				&:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
aside{
	@extend .clearfix;
	float: left;
    width: 20%;
    margin: 20px;
	& > ul {
        list-style-type: none;
		& > li {
            margin: 15px 0;
            padding: 15px;
            @include radius(5px, #000);
			h2 {
				font-size: 1.1em;
				font-weight: bold;
			}
			ul {
				list-style-type: none;
				margin: 10px 0 10px 0;
				li {
                    margin: 5px 0 0 10px;
                    background: url(images/li-dot.png) no-repeat;
                    background-position: 0 50%;
                    padding-left: 25px;
                }
			}
        }
    }
	p {
		margin: 10px, 5px, 10px, 5px;
        font-size: 14px;
		a {
            color: #aaaaaa;
            text-decoration: none;
        }
		strong {
            color: #cccccc;
            font-weight: bold;
            font-style: normal;
        }
		em {
            color: #cccccc;
            font-weight: normal;
            font-style: italic;
        }
    }
}
footer{
	clear: both;
	padding: 15px 0 25px 0;
	p {
        font-size: 1.2em;
        font-weight: bold;
        text-align:center;
    }
}