body{
    background:#a9a9a9;
    color:#fff;
}
header,footer{
    text-align:center;
}
li a{
    color:#fff;
}
nav ul li{
    list-style-type:none;
    font-weight:bold;
    font-size:18px
}
nav ul li:last-child{
    text-decoration:underline;
}
h1{
    color:#fafad2;
}
.current{
    background:#d3d3d3;
}
section header,section footer{
    text-align: left;
}
a{
    text-decoration:none;
    color:#000;
}
article:last-child{
    display:none;
}
p,footer{
    color:#000;
}
